/*------------------ General ----------------------*/
@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../img/round.png);
  background-repeat: repeat;
  overflow-x:hidden;
}

html {
	overflow-x:hidden;
}

/*------------------ Header ----------------------*/
nav {
  z-index: 100;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width:100%;
  background-color: #00959A;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 0 22px 0 rgba(0, 0, 0, 0.6);
}

.white_rectangle_nav {
  display: inline-block;
  width:12rem;
  height: 3.5rem;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5), 0 0 22px 0 rgba(0, 0, 0, 0.6);
}

.white_rectangle_nav:after {
  position: absolute;
  content: " ";
  width: 0;
  height: 0;
  border-top: 3.5rem solid white;
  border-right: 3.5rem solid transparent;
  padding-left:6.6rem;

}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  margin: 0.5rem 2rem;
  padding: 1.2rem 2rem;
  color: white;
  background-color: transparent;
  border-radius: 0px 0px 5px 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button:hover {
  background-color: #205050;
}

.logo {
  margin-left: .9rem;
  height: 3.5rem;
}

.photopromo {
  margin-top:2rem;
  vertical-align:middle;
}

.box_header {
	width: 100%;
	height: 25rem;
	margin-top:5rem;
	position: relative;
}

.image_header {
  max-height: 100%;
  max-width: 90%;
  min-width: 30%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logo_header {
  margin-left: 3rem;
  margin-top: .5rem;
  height: 11rem;
}

.box_logo {
	width: 100%;
	height: 10rem;
	margin-top: 2rem;
	position: relative;
}

.dark_rect_date {
  transform: rotate(0deg);
  position: absolute;
  right: -2rem;
  top: 2rem;
  width: 24%;
  height: 4rem;
  background-color: #205050;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  bottom: 1.2rem;
  transition: .3s;
}

.black_rect_date {
  transform: rotate(5deg);
  position: absolute;
  right: -2rem;
  top:2rem;
  width:33%;
  height: 4rem;
  background-color: #323333;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  bottom:1.2rem;
  transition: .3s;
}

.rect_date{
  padding-left: 2rem;
  color: white;
  font-size: 3rem;
  transform: rotate(-5deg);
  position: absolute;
  right: -2rem;
  top: 2rem;
  line-height: 4rem;
  width: 45%;
  height: 4rem;
  background-color: #00959A;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  bottom: 1.2rem;
  transition: .3s;
}

/*.rect_date:hover, .black_rect_date:hover, .dark_rect_date:hover {
  transform: rotate(0);
}*/

.box_logo:hover > .black_rect_date {
  transform: rotate(0deg);
}

 .box_logo:hover > .rect_date {
   transform: rotate(0deg);
 }

/*.rect_date::after{
  transform: rotate(110deg);
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -4rem;
  border-left: 20px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 100px solid #205050;
}*/

/*------------------ Main ----------------------*/
#main {
  display: grid;
  grid-row-gap: 6rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem 4rem;
  text-align: center;
}

.apprenant {
  position: relative;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
}

.photo {
	width: 12rem;
	height: 12rem;
	border-radius: 100%;
	overflow: hidden;
	border: 2px solid #024345;
	margin: 0 auto 1em;
  opacity: 0;
  background-size: cover;
  background-position: center;
  transition: .4s;
}

/*.photo > img {
	max-width: 100%;
	max-height: 100%;
}*/

.name, .portfolio, .cv, .love {
	background-color: #00959A;
	height: 2rem;
	border-radius: .3rem;
	margin: .3em 0;
	font-size: 1em;
	line-height: 2rem;
	color: white;
	font-family: sans-serif;
	box-shadow: 2px 2px 6px #a8a8a8;
  opacity: 0;
	padding-right: .5em;
	font-family: 'Roboto', sans-serif;
	transition: .4s;
}

.name::before, .portfolio::before, .cv::before, .love::before {
	background-color: #024345;
	width: 1rem;
	height: 2rem;
	content: '';
	float: left;
	margin-right: .5em;
}

.portfolio:hover, .cv:hover {
	background-color: #F4A733;
}

a {
	text-decoration: none;
	color: white;
}

.desc {
	pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
	transition: .4s;
}

.photo:hover ~ .desc {
  opacity: 1;
	display: block;
}

.photo:hover {
  opacity: 0;
}

.animation-default {
  opacity: 1;
  animation: animate-default .8s;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.animation-photo {
  animation: animate-photo .8s;
  opacity: 1;
}

@keyframes animate-default {
  0% {
    transform: translate(-100px, 0);
  }
  30% {
    transform: translate(+25px, 0);
  }
  75% {
    transform: translate(-5px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes animate-photo {
  0% {
    transform: scale(0.1);
  }
  25% {
    transform: scale(1.4);
  }
  65% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
/*----------------------Footer---------------------*/
footer {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  bottom: 0rem;
}

.green_rect {
  z-index: 9;
  left: -.5rem;
  transform: rotate(4.5deg);
  position: absolute;
  width: 110%;
  height: 4rem;
  background-color: #00959A;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  bottom:1.2rem;
  transition: .3s;
}

.green_dark_rect{
  z-index: 8;
  transform: rotate(-1.5deg);
  position: absolute;
  left: -.5rem;
  width: 120%;
  height: 4.5rem;
  background-color: #205050;
  bottom: 1rem;
  transition: .3s;
}

.dark_rect {
  z-index: 6;
  left: -.5rem;
  transform: rotate(-5deg);
  position: absolute;
  width:110%;
  height: 4rem;
  background-color: #323333;
  bottom: 1.2rem;
  transition: .3s;
}

.bottom_dark_rect{
  z-index: 11;
  position: absolute;
  bottom: 0;
  width: 120%;
  height: 1rem;
  background-color: #323333;
  transition: .3s;
}

.background_green_dark_rect{
  left: -2.5rem;
  z-index: 10;
  position: absolute;
  transform: rotate(4.5deg);
  bottom: -2rem;
  width: 130%;
  height: 4.6rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1), 0 0 19px 0 rgba(0, 0, 0, 0.3);
  background-color: #205050;
  transition: .3s;
}

footer:hover > .green_rect {
  transform: rotate(0);
}
footer:hover > .green_dark_rect {
  transform: rotate(0);
}
footer:hover > .dark_rect {
  transform: rotate(0);
}
footer:hover > .bottom_dark_rect {
  transform: rotate(0);
}
footer:hover > .background_green_dark_rect {
  transform: rotate(0);
}

/*------------------ Responsive Design ----------------------*/
@media screen and (max-width: 1000px){
  #main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 800px){
  #main {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 610px) {
  .logo_header {
  	position: absolute;
	  top: -12rem;
  }
  .button-wrapper {
    font-size: .7rem;
  }
}

@media screen and (max-width: 530px){
  #main {
    grid-template-columns: repeat(1, 1fr);
  }
}
